 /**{
        font-family:'Open Sans', 'sans-serif' ;
        font-family: 'Work Sans', 'sans-serif';
    }*/

    /*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;700;800&display=swap');

    
    *{
        font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    }*/

/*header styles*/

   
header{
    height: 130px;
    width: auto;
    padding: 50px 240px;
    background-color:#FFF;
    font-family:'Open Sans', 'sans-serif' ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.game-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    font-family: "Work Sans";
}
.game-icon{
    width: 80px;
    height: 40px;
   /* margin-top: 26px;*/
}
nav span{
    color: #FF42A5;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 17px;
    font-weight: 400;
    font-family:'Open Sans', 'sans-serif' ;
}
.follow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    gap: 10px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor:progress;
    
    
   
}
/*main sections */
/*goat*/
.banner-section{
    height: 700px;
    width: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #FFF;*/
}
.banner-content{
    background-image: url(./images/Group\ 14.png);
    height: 700px;
    width: 900px;
   
   /* padding-left: 50px;*/
  
}
.banner-title{
    text-align: center;
color: #0B0223;
font-size: 35px;
font-weight: 600;



}
.banner-name{
    text-align: center;
    font-size: 85px;
    font-family: 500;
   color: #d942ff;
   margin-bottom: 0;

    
}
.banner-list{
    border: 1px solid #FFF;
    
    
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
   margin-left: 230px;
}


.banner-button1{
    margin-left: 230px;
    display: inline-flex;
    padding: 18px 29px;
    border-radius: 48px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #FF42A5;
    border: none;
}
.banner-button2{
    margin-left: 10px;
    display: inline-flex;
    padding: 18px 19px;
    border-radius: 48px; 
    color: #FFFFFF;
    background-color: #4EC5F7;
    border: none;
}
    

    

    

    

    







/*mobile devices*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .nav-list
    {
        flex-direction: column;
       
    }
}


/*tablet device*/
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 20px;
    }
    nav,
    .nav-list
    {
        flex-direction: column;
       
    }
}  
