 /**{
        font-family:'Open Sans', 'sans-serif' ;
        font-family: 'Work Sans', 'sans-serif';
    }*/



/*header styles*/

   
header{
    height: 130px;
    width: auto;
    padding: 50px 240px;
    background-color:#FFF;
    font-family:'Open Sans', 'sans-serif' ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.game-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    font-family: "Work Sans";
}
.game-icon{
    width: 80px;
    height: 40px;
   /* margin-top: 26px;*/
}
nav span{
    color: #FF42A5;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 17px;
    font-weight: 400;
    font-family:'Open Sans', 'sans-serif' ;
}
.follow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    gap: 10px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 17px;
    font-weight: 500;
    border: none;
    
    
   
}
/*main sections */
/*goat*/
.banner-section{
    height: 700px;
    width: auto;
    background-color: #FFF;;
}







/*mobile devices*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .nav-list
    {
        flex-direction: column;
       
    }
}